<%- include("../partials/header") %>

<div class="container index-body">
	
	<form action="/restaurant" method="GET" class="form-inline my-2 my-lg-0 float-right">
		<input class="form-control mr-sm-2" type="text" name="search" placeholder="i.e. Asia Fusion">
		<button class="btn btn-sm btn-outline-secondary my-2 my-sm-0" type="submit">
			Search
		</button>
    </form>
	
	<div class="jumbotron">
		<h1 class="display-4 index-header">
			<i class="fal fa-soup"></i>			
			Welcome to FeedMe 
		</h1>
		<!-- <a class="btn btn-outline-secondary special-font-md" href="/restaurant/new"> -->
			<% if(currentUser){ %>
				<a class="btn btn-outline-secondary special-font-md" href="lucky/<%= currentUser._id %>">
				Feeling lucky?
			</a>
			<% } %>
	</div>
	
	<div class="row tex-center" style="display:flex; flex-wrap:wrap;">
		<div class="col-lg-12">
			<h4> 
				<i class="fal fa-ellipsis-v"></i>
				View our hand-picked restaurants </h4>
		</div>
		
		<% restaurants.forEach(function(items){ %>
		<div class="col-sm-6 col-md-4">			
			<div class="card shadow rounded">
				<img src = "<%= items.image  %>" class="card-img-top" alt="Responsive image">
				<div class="card-body">
					<h4 class="card-title"><%= items.name %></h4>
					<h6 class="card-subtitle mb-2 text-muted">
						<i class="fal fa-map-marker-alt"></i>
						<% if(items.city && items.state && items.country){ %>
							<%= items.city %>, <%= items.state %>, <%= items.country %>
						<% } else{ %>
							Somewhere on earth	
						<% } %>
					</h6>
					<p>
						<a href="/restaurant/<%= items._id %>" class="btn btn-sm btn-outline-secondary" >More Info</a
					</p>
				</div>
			</div>		
		</div>
		<%  }) %>
	</div>
	
</div>
	
	
<%- include("../partials/footer") %>
