
<%- include("../partials/header") %>

<div class="container">
	<div class="row">
		<div class="col-md-3">
			<div class="card-deck">
				<div class="card border-light">
					 <img src="<%= user.avatar %>" class="card-img-top" alt="...">
					<div class="card-body">
						<h1 class="card-title"><%= user.username %></h1>
						<p class="card-text">
							<i class="fad fa-envelope profile-icon"></i> 
							<%= user.email %>
						</p>
					</div>
					<div class="card-footer">
						<% if(user.isAdmin){ %>
							<i class="fas fa-user-cog profile-icon"></i> Admin
						<% } else{ %>
							<i class="far fa-user profile-icon"></i> General User
						<% } %>
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-md-9">
			<h3> <%= user.username %>'s Restaurants </h3>
			<% restaurant.forEach(function(restaurant){ %>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">
					<i class="fal fa-map-marker-alt"></i>
					<a href="/restaurant/<%= restaurant._id %>" ><%= restaurant.name %></a>
					in <%= restaurant.city %>, <%= restaurant.state %>
					<footer class="blockquote-footer float-right">
							<cite title="Source Title">
								<%= restaurant.createdAt.toDateString() %>
							</cite>
					</footer>
				</li>
			<% }) %>
			</ul>
			
			<br>
			<h4>Comments</h4><br>
			<% restaurant.forEach(function(restaurant){ %>	
			<div class="">
				<div class="row no-gutters">
					<div class="col-md-2">
						<img src="<%= restaurant.image %>" class="card-img user-comment-img" style="width: 5rem;height:5rem;">
					</div>
					<div class="col-md-10 float-left">
						<h5><%= restaurant.name %></h5>
						<small>
							<i class="fal fa-map-marker-alt"></i>
							<%= restaurant.city %>, <%= restaurant.state %></small>
					</div>
				</div>
			</div>
			
			<ul class="list-group list-group-flush">
				<% comments.forEach(function(comment){ %>
					<% if (comment.restaurant.toString().trim() == restaurant._id.toString().trim()){ %>
					<li class="list-group-item">"<%= comment.text %>"
						<% if (comment.rating !== 0) { %>
						<p class="float-right">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star <% if (comment.rating > 1) { %> checked <% } %>"></span>
            <span class="fa fa-star <% if (comment.rating > 2) { %> checked <% } %>"></span>
            <span class="fa fa-star <% if (comment.rating > 3) { %> checked <% } %>"></span>
            <span class="fa fa-star <% if (comment.rating > 4) { %> checked <% } %>"></span>
                   		</p>
						<% } %>
						<footer class="blockquote-footer">
							<cite title="Source Title">
								<%= comment.createdAt.toDateString() %>
							</cite>
						</footer>
					</li>
				
					<% } %>
				<% }) %>		

				<br>
			</ul>
			<% }) %>
			
			
			
		</div>
		
	</div>
</div>

<%- include("../partials/footer") %>